<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Курсы по Laravel</title>
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="icon" href="../image/logo.png" type="images/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="На нашем сайте вы можете ознокомится, с курсами по фреймворку Laravel">
    <meta name="robots" content="index, nofollow">

</head>
<body>
<header>
    <section class="head">
        <div class="container infoHead flex aic jcsb">
            <div class="headerText">
                <a href="../index.html"  class="flex aic">
                    <img src="../image/logo.png" alt="">
                    <span class="nameSpanLaravel">Курсы по</span>
                    <span class="nameLaravel">Laravel</span>
                </a>
            </div>
            <div class="aboutSite flex aic">
                <div class="headerBlog">
                    <a href="../templates/blog.html" class="nameLaravelA">
                        Блог
                    </a>
                </div>
                <div class="headerCourse">
                    <a href="" class="nameLaravelA">
                        Курсы
                    </a>
                </div>
                <div class="headerContact">
                    <a href="" class="nameLaravelA">
                        Контакты
                    </a>
                </div>
            </div>
        </div>
    </section>
</header>

<section class="bodyInformation">
    <div class="container">
        <div class="nameLaravel">
            Блог
        </div>
        <section class="blog">
            <div class="article">
                <a href="../templates/blog/first.html">
                    <h2 class="nameArticle">Вводная статья</h2>
                    <div class="shortDescription">Данная статья предназначена для начинающих веб-разработчиков, а также
                        тех, кто хочет понять, для чего стоит изучить PHP-фреймворк Laravel и какую экосистему он нам
                        предлагает.
                    </div>
                </a>
            </div>
            <div class="article">
                <a href="../templates/blog/first.html">
                    <h2 class="nameArticle">Вводная статья</h2>
                    <div class="shortDescription">Данная статья предназначена для начинающих веб-разработчиков, а также
                        тех, кто хочет понять, для чего стоит изучить PHP-фреймворк Laravel и какую экосистему он нам
                        предлагает.
                    </div>
                </a>
            </div>
            <div class="article">
                <a href="../templates/blog/first.html">
                    <h2 class="nameArticle">Вводная статья</h2>
                    <div class="shortDescription">Данная статья предназначена для начинающих веб-разработчиков, а также
                        тех, кто хочет понять, для чего стоит изучить PHP-фреймворк Laravel и какую экосистему он нам
                        предлагает.
                    </div>
                </a>
            </div>
            <div class="article">
                <a href="../templates/blog/first.html">
                    <h2 class="nameArticle">Вводная статья</h2>
                    <div class="shortDescription">Данная статья предназначена для начинающих веб-разработчиков, а также
                        тех, кто хочет понять, для чего стоит изучить PHP-фреймворк Laravel и какую экосистему он нам
                        предлагает.
                    </div>
                </a>
            </div>
            <div class="article">
                <a href="../templates/blog/first.html">
                    <h2 class="nameArticle">Вводная статья</h2>
                    <div class="shortDescription">Данная статья предназначена для начинающих веб-разработчиков, а также
                        тех, кто хочет понять, для чего стоит изучить PHP-фреймворк Laravel и какую экосистему он нам
                        предлагает.
                    </div>
                </a>
            </div>
        </section>








    </div>
</section>

</body>
</html>